# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
Applications/
Desktop/
Documents/
Downloads/
Library/
Music/
my-app/

# Other files and folders
.CFUserTextEncoding
.DS_Store
.Trash/
.bash_sessions/
.dropbox/
	

# Executables
*.swf
*.air
*.ipa
*.apk
